#tunnel circle,
#crosses path,
.squares rect {
    /* by default elements transform from their top left corner so here we are telling the cirlces to transform from the center  */
    transform-origin: center;
}

.w-200 {
    width: 200%;
}

.bg-yellow {
    background-color: #fff44c;
}

.bg-purple {
    background-color: #cb89fc;
}

.bg-blue {
    background-color: #7cebfc;
}

.bg-red {
    background-color: #f9343d;
}

.box {
    /* using the inset keyword we can out shadows inside of elements */
    box-shadow: inset 0 0 0 4px black;
    transform: none !important;
}


.conveyor-belt {
    border-left: solid 4px black;
    border-right: solid 4px black;
}

.page {
    border: solid black 4px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: black;
}

.squares rect {
    /* this will offset our boxes so they appear exactly in the middle */
    transform: translate(-50%, -50%);
    transform-box: fill-box
}

/* these are called pseudo elements, which are extra elements we can insert into the html using css (usually just for styling purposes */
.page:after,
.page:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: black;
    z-index: 3;
}

.page:before {
    top: 0;
}

.page:after {
    bottom: 0;
}